---
layout: home
title: ShowChat
---


<h1 class="my-4">ShowChat
  <small>Romania</small>
</h1>
<div class="row">

  <div class="col-md-8">
   {% include showchat.html %}
	  
    <!-- Regulament -->
    <div class="card text-white bg-secondary my-4 py-1 text-center">
      <div class="card-body">
        <p class="text-white m-0">Pentru o cat mai placuta sedere si o buna functionabilitate a Chatului va rugam sa cititi cu atentie <a href="https://romaniachat.eu/regulament-chat.html" target="_blank">Regulamentul</a> si sa respectati!</p>
      </div>
    </div>
      
	<!-- Regulament -->


	  
	  </div> 
	  
	  
	
  <div class="col-md-4">

  
  

	  <!-- social-->
        <div class="card my-4">
          <h5 class="card-header">Social Canale Media</h5>
          <div class="card-body">
            {% include social-icon.html %}
          </div>
        </div>
           <!-- /social-->
  
	<!-- Parteneri -->
        <div class="card my-4">
          <h5 class="card-header"><img src="{{ site.urlimg }}p.png" alt="Parteneri ShowChat"></h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                   <a href="https://romaniachat.eu" target="_blank">RomaniaChat.eu</a>
                  </li>
                  <li>
                   <a href="https://radioclick.ro" target="_blank">RadioClick.ro</a>
                  </li>
                  <li>
                    <a href="https://www.chatromanesc.ro" target="_blank">ChatRomanesc.ro</a>
                  </li>
				     <li>
                    <a href="https://chatapropo.eu" target="_blank">ChatApropo.eu</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://triviaonline.ro" target="_blank">TriviaOnline.ro</a>
                  </li>
                  <li>
                    <a href="https://bancurihaioase.ro" target="_blank">BancuriHaioase.ro</a>
                  </li>
                  <li>
                    <a href="https://www.clipuri.biz" target="_blank">Clipuri.biz</a>
                  </li>
				     <li>
                    <a href="https://chatmobil.eu" target="_blank">ChatMobil.eu</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
	  <!-- Parteneri -->
	  

	  
 </div>
</div>
	  
	  


<h3 class="my-4">Intra pe RomaniaChat</h3>

<div class="row">

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="webirc">
      <img class="img-fluid" src="{{ site.chatimg }}chatmobil-.png" alt="QwebIRC">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="kiwiirc">
      <img class="img-fluid" src="{{ site.chatimg }}kiwichat-.png" alt="KiwiIRC">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="mibbit">
      <img class="img-fluid" src="{{ site.chatimg }}chatmibbit-.png" alt="Mibbit">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="lightirc">
      <img class="img-fluid" src="{{ site.chatimg }}webchat.png" alt="LightIRC">
    </a>
  </div>
	
 <hr>
	
    <!-- Social Canale Media -->
      <div class="col-md-3 col-sm-6 mb-4">
      {% include social-icon.html %}
 </div>
 <!-- Social Canale Media -->
	

</div>
