---
layout: home
title: ShowChat
---


<h1 class="my-4">ShowChat
  <small>Romania</small>
</h1>
<div class="row">

  <div class="col-md-8">
   {% include showchat.html %}

	  </br>
    <!-- Regulament -->
    <div class="card text-white bg-secondary my-4 py-1 text-center">
      <div class="card-body">
        <p class="text-white m-0">Pentru o cat mai placuta sedere si o buna functionabilitate a Chatului va rugam sa cititi cu atentie <a href="#">Regulamentul</a> si sa respectati!</p>
      </div>
    </div>
       </div>
	<!-- Regulament -->

	
	
  <div class="col-md-4">

  
  
        <div class="card my-1">
  
	<img class="card-header" src="{{ site.urlimg }}radioclick-logo.png" alt="Asculta Radio Click Romania">	
          <div class="card-body">
      {% include radio.html %}
          </div>
        </div>
  
  
  
  
	<!-- Parteneri -->
        <div class="card my-4">
          <h5 class="card-header"><img src="{{ site.urlimg }}p.png" alt="Parteneri ShowChat"></h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                   <a href="#">RomaniaChat.eu</a>
                  </li>
                  <li>
                   <a href="#">RadioClick.ro</a>
                  </li>
                  <li>
                    <a href="#">ChatRomanesc.ro</a>
                  </li>
				     <li>
                    <a href="#">ChatApropo.eu</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">TriviaOnline.ro</a>
                  </li>
                  <li>
                    <a href="#">BancuriHaioase.ro</a>
                  </li>
                  <li>
                    <a href="#">Clipuri.biz</a>
                  </li>
				     <li>
                    <a href="#">ChatMobil.eu</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
	  <!-- Parteneri -->
	  
	    </div>

</div>
	  
	  


<h3 class="my-4">Related Projects</h3>

<div class="row">

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
      <img class="img-fluid" src="{{ site.urlimg }}assets/chat/chatmobil-.png" alt="">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

  <div class="col-md-3 col-sm-6 mb-4">
    <a href="#">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </a>
  </div>

</div>
