<div id="lunaradio" style='width:100%; height:100%;
-webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;'>
  <div style="height:100%; width:100%;"></div>	
<div style="overflow:hidden; height:0px; width:0px;">
</div>		

<script>
$("#lunaradio").lunaradio({
	userinterface: "big",
	backgroundcolor: "rgba(255,255,255,0.9)",
	fontcolor: "#20232c",
	hightlightcolor: "#fa225b",
	fontname: "Anton",
	googlefont: "Anton&display=swap",
	fontratio: "0.4",
	radioname: "Radio Click Romania",
	scroll: "true",
	coverimage: "https://api.showchat.tk/radioclick/images/no-cover-large.gif",
	onlycoverimage: "false",
	coverstyle: "circle", //circle animated square
	usevisualizer: "real",
	visualizertype: "4",
	itunestoken: "1000lIPN",
	metadatatechnic: "corsproxy", // fallback directly
	ownmetadataurl: "",
	streamurl: "https://romaniachat-cors.glitch.me/http://167.114.207.230:8008",
	streamtype: "shoutcast2",
	icecastmountpoint: "", // /stream
	radionomyid: "",
	radionomyapikey: "",
	radiojarid: "",
	radiocoid: "sdef46f462",
	shoutcastpath: "/live",
	shoutcastid: "",
	streamsuffix: "",
	metadatainterval: "5000",
	volume: "100",
	debug: "false",
	autoplay: "true",
	usestreamcorsproxy: "false", 
	corsproxy: "https://cors-anywhere.herokuapp.com/",
});
</script>
