---
layout: blog
title: Blog
permalink: /blog/page/3
---

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Blog
          <small>ShowChat</small>
        </h1>

        <!-- Blog Generator de Chat Kiwiirc -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ site.cdn-webmaster-img }}generator-kiwiirc.png" alt="Generator de Chat KiwiIRC">
          <div class="card-body">
            <h2 class="card-title">Generator de Chat KiwiIRC</h2>
            <p class="card-text">Generator de Chat KiwiIRC Romanesc setat pe RomaniaChat.</p>
	    <p class="card-text">Obțineți un webchat pentru site-ul sau blogul dvs. cu acest simplu generator gratuit.</p> 
 	    <p class="card-text">Puteți alege configurația implicită, iar utilizatorii vor intra pe canalul configurat sau să alegeți propriul canal de intrare.</p>
	    <p class="card-text">Alegeți opțiunea care vă convinge cel mai mult, puneți codul pe site-ul dvs. și veți avea webchat-ul pentru canalul dvs. complet gratuit și fără a fi necesar să programați nimic!</p>  
            <a href="https://showchat.tk/webmaster/generator-kiwiirc" class="btn btn-primary">Citeste mai mult &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Postat pe: Julie 31, 2020 de catre
            <a href="{{ site.autor }}">BaiatRau</a>
          </div>
        </div>

       <!-- Blog Post -->
	<!-- Blog PlayList RadioClick  -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ site.cdn-webmaster-img }}playlist.png" alt="Generator de Chat KiwiIRC">
          <div class="card-body">
            <h2 class="card-title">PlayList RadioClick Romania</h2>
            <p class="card-text">Denumirea Piesei.</p>
	    <p class="card-text">ISTORIE - ultimele piese cantate.</p> 
 	    <p class="card-text">Ascultători Actuali.</p>  
            <a href="https://showchat.tk/radioclick/playlist" class="btn btn-primary">Citeste mai mult &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Postat pe: August 06, 2020 de catre
            <a href="{{ site.autor }}">BaiatRau</a>
          </div>
        </div>

       <!-- Blog Post --> 
  

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
         <li class="page-item">
            <a class="page-link" href="https://showchat.tk/blog">1 &larr;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="https://showchat.tk/blog/page/2">2 &larr;</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="https://showchat.tk/blog/page/3">3 &#8691;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

	 	  <!-- radio-->
		    <div class="card my-4">
          <h5 class="card-header"><img src="{{ site.urlimg }}radioclick-logo.png" alt="Radio Click Romania"></h5>
          <div class="card-body">
            <div class="row">
	<div class="embed-responsive embed-responsive-1by1">  
       {% include vrcr.html %}
         </div>
       </div>
     </div>	 
  </div>
           <!-- /radio-->     
	      
        
       <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">RadioClick apk</h5>
          <div class="card-body">
            <img class="card-img-top" src="{{ site.cdn-webmaster-img }}radioclick-apk.gif
" alt="RadioClick apk">
            Descarca aplicatia Radio Click Romania pentru Android, asculta live pe telefonul mobil.
          </div>
           <div class="card-body">
              <a href="https://showchat.tk/apk/radioclick" class="btn btn-primary">Citeste mai mult &rarr;</a>
            </div>
        </div>
        
        
        


        <!-- Categories Widget -->



        
        	<!-- Parteneri -->
        <div class="card my-4">
          <h5 class="card-header">Parteneri ShowChat</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                   <a href="https://romaniachat.eu" target="_blank">RomaniaChat.eu</a>
                  </li>
                  <li>
                   <a href="https://radioclick.ro" target="_blank">RadioClick.ro</a>
                  </li>
                  <li>
                    <a href="https://www.chatromanesc.ro" target="_blank">ChatRomanesc.ro</a>
                  </li>
				     <li>
                    <a href="https://chatapropo.eu" target="_blank">ChatApropo.eu</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://triviaonline.ro" target="_blank">TriviaOnline.ro</a>
                  </li>
                  <li>
                    <a href="https://bancurihaioase.ro" target="_blank">BancuriHaioase.ro</a>
                  </li>
                  <li>
                    <a href="https://www.clipuri.biz" target="_blank">Clipuri.biz</a>
                  </li>
				     <li>
                    <a href="https://chatmobil.eu" target="_blank">ChatMobil.eu</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
	  <!-- Parteneri -->
        
               <!-- social-->
        <div class="card my-4">
          <h5 class="card-header">Social Canale Media</h5>
          <div class="card-body">
            {% include social-icon.html %}
          </div>
        </div>
           <!-- /social-->
        
        

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
